#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.material-icons-outlined,
.material-icons {
  font-size: 18px;
}
/*************** Scroll Bar *******************/
.scrollbar {
  /*Firefox*/
  scrollbar-color: transparent;
  scrollbar-width: none;
}
/*chrome & Edge*/
::-webkit-scrollbar {
  width: 0.16rem;
  background: transparent;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.08rem;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 1px 3px 0px rgba(44, 47, 49, 0);
}
::-webkit-scrollbar-button {
  height: 0px;
}
/*************** Scroll Bar *******************/

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
